<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">SFTools</a>

		<button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" [collapse]="collapsed" [isAnimated]="true">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
				<version-switcher></version-switcher>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
