@if (authService.isAuthenticated()) {
	<li class="nav-item dropdown" dropdown>
		<a class="nav-link dropdown-toggle" dropdownToggle href="javascript: void(0);">
			@if (account.avatarUrl(); as avatar) {
				<img class="avatar" [src]="avatar" alt="">
			} @else {
				<fa-icon [icon]="faCircleUser"></fa-icon>
			}
			{{ account.name() ?? authService.currentLogin() }}
		</a>
		<ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
			<li>
				<a class="dropdown-item" routerLink="/account">
					<fa-icon [icon]="faUser"></fa-icon>
					Account
				</a>
			</li>
			<li>
				<button class="dropdown-item" type="button" (click)="logout()">
					<fa-icon [icon]="faRightFromBracket"></fa-icon>
					Logout
				</button>
			</li>
		</ul>
	</li>
} @else {
	<li class="nav-item">
		<a class="nav-link" routerLink="/auth/login" [queryParams]="{returnUrl: router.url}" routerLinkActive="active">
			<fa-icon [icon]="faRightToBracket"></fa-icon>
			Sign in
		</a>
	</li>
}
